<html>
<head>
<title>Sign Up</title>
<body>
<div align="center">
<h1>Registration Form</h1>
<form action="signup" method="post">
<table>
<tr><td>Username: </td><td><input type="text" name="username"></td></tr>
<tr><td>Password: </td><td><input type="password" name="password"></td></tr>
<tr><td>First Name: </td><td><input type="text" name="firstname"></td></tr>
<tr><td>Last name : </td><td><input type="text" name="lastname"></td></tr>
<tr><td>Date of Birth : </td><td><input type="text" name="dob">(Enter in MM/DD/YYYY format)</td></tr>
<tr><td>Gender:</td><td><input type="radio" name="gender" value="male">Male<br>
<input type="radio" name="gender" value="female">Female</td></tr>
<tr><td colspan="2" align="center"><input type="submit" Value="Register"></td></tr>
</table>
</form>
</div>
</body>
</html>
